@import "tailwindcss";

:root {
  --background: #1c120d;
  --foreground: #e6d5c3;
  --coffee-primary: #c18c5d;
  --coffee-secondary: #a88a74;
  --coffee-dark: #2a1d17;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-coffee-primary: var(--coffee-primary);
  --color-coffee-secondary: var(--coffee-secondary);
  --color-coffee-dark: var(--coffee-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
